[Unit]
Description=Offline IMAP syncing for gmail

[Service]
ExecStart=/usr/bin/offlineimap -s -c ~/.offlineimaprc.personal

[Install]
WantedBy=default.target
